.product-card {
 
  background: #d9d9d9;
  padding: 0 20px;
  border-radius: 10px;
}

.card-top-container {
  text-align: center;}
.card-top-container img {
  width: 220.72;
  height: 165px;
}

.card-bottom-container {
  width: 100%;
  align-items: center;  
  text-align: center;
  padding: 10px 40px 15px 0px;
  max-width: 960px;
  margin: 0 auto;
}
.card-bottom-container h1 {
  width: 100%;
  font-size: 18px;
  text-align: center;
  align-items: center;
  padding: 20px 0 20px 30px;
 
}
.card-bottom-container p {
  width: 250px;
  height: 28px;
  font-size: 12px;
 padding: 0 5px 0 20px ;
margin: 0;
}
