.home-container {
  padding: 30px 10px 20px 10px;
  font-size: 22px;
  text-align: center;
  align-items: center;
}
.home-card {
  display: flex;
  flex-direction: column-reverse;
  background: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.home-content-container {
  margin: 0 20px 30px 20px;
  text-align: center;
  align-items: center;
}
.home-content-container h1 {
  font-size: 1em;
  font-style: bold;
  color: #fff;
}
.home-content-container h2 {
  width: 251px;
  height: 32px;
  text-align: left;
  padding: 10px 10px 50px 10px;
  font-size: 0.6em;
  font-style: normal;
  color: #fff;
  max-width: 960px;
  margin: 0 auto;
}
.home-image-container {
  padding: 50px 15px 30px 15px;
}
.home-image-container svg {
  width: 100%;
}
.home-button-container {
  padding: 30px 0 0 0 ;
  background: #ededed;
  border-radius: 10px;
}
.home-button-container h6 {
  padding: 10px 5px 5px 5px;
  color: #585858;
  font-size: 18px;
  font-style: normal;
}
@media (min-width: 576px) {
  .home-content-container h1 {
    font-size: 36px;
    font-style: bold;
    color: #fff;
  }
  .home-content-container h2 {
    width: 420px;
    font-size: 18px;
    font-style: normal;
    color: #fff;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
  }
  .home-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 45px 50px 41px 70px;
  }

  .home-button-container h6 {
    padding: 20px 5px 5px 10px;
    margin-left: 10px;
    left: 61px;
    top: 382px;
  }

  @media (min-width: 992px) {
    .home-image-container svg {
      width: 455px;
      height: 272px;
    }
  }
  @media (min-width: 1200px) {
    .home-container {
      padding: 10px 0 0 0;
    }
    .home-content-container {
      padding: 30px 0 0 0;
    }
    .home-card {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .home-image-container {
      justify-content: flex-end;
    }

    .home-image-container svg {
      width: 333px;
      height: 199px;
    }
    .home-container {
      padding: 20px 150px 20px 151px;
    }
    .home-card {
      padding: 10px 10px 0 40px;
    }
    .home-content-container h2 {
      text-align: left;
      display: flexbox;
      align-items: center;
      padding: 15px 39px 51px 0px;
    }
  }
}
