.catalog-search-container {
  background: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 20px 5px 20px 5px;
  padding: 23px 10px 22px 10px;
}

.search-container {
  width: 100%;
  height: 40px;
  background: #ffffff;
  padding: 12px 0 15px 20px;
  border-radius: 5px 0px 0px 5px;
}
.search-container h1 {
  font-size: 14px;
  line-height: 16px;
  color: #a7a7a7;
  display: flex;
  align-items: center;
}

.button-icon {
  width: 77px;
  height: 40px;
  margin: 0;
  border-radius: 0px 5px 5px 0px;
}

.button-icon p {
  color: #ffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0 0 0;
}

@media (min-width: 576px) {
  .catalog-search-container {
    width: 536px;
    height: 123px;
    margin: 30px 50px 30px 0;
    padding: 40px 10px 10px 20px;
  }

  .button-icon {
    width: 174px;
    margin: 0 10px 0 0px;
  }
}
@media (min-width: 768px) {
  .catalog-search-container {
    width: 697px;
    height: 123px;
  }
  @media (min-width: 992px) {
    .catalog-search-container {
      width: 938px;
      height: 123px;
      padding-right: 85px;
      padding-left: 85px;
    }
    .search-container {
      width: 584px;
    }
    .button-icon {
      width: 174px;
    }
  }
}
@media (min-width: 1200px) {
  .catalog-search-container {
    width: 979px;
    height: 123px;
    margin-left: 150px;
  }
}
