.main-nav {
    padding-left: 40px;
    min-height: 70px;
}

.nav-logo-text {
  background-color: #F78B00;
}

.nav-logo-text:hover {
    color: #fff;
  }

.nav-logo-text:hover {
  color: #fff;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 210px;
  justify-content: space-between;
  align-items: center;
  position: absolute
 
  }

  .main-menu a {
      color: #00285F;
  }

  .main-menu a:hover {
    color: #fff;
  }

  .main-menu a.active {
    color:#00285F;
    font-weight: bold;
}
